.outline-button {
    width: 312px;
    height: 50px;
    /* background: transparent; */
    background-color: #EA4080;
    border-radius: 67px;
    border: 2px solid white;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .outline-button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #EAA080 0%, #EE805F 100%);
    opacity: 0.2;
    z-index: 0;
  }
  
  .outline-button span {
    position: relative;
    z-index: 1;
  }
  
  .outline-button:hover {
    opacity: 0.8;
  }
  
  .outline-button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  